body {
	background-color: #9bd;
	font-family: Helvetica, GillSans;
	margin: 0;
	padding: 0;
}

.tabs_container {
	border: 1px solid;
	width: 400px;
	min-height: 300px;
}

.chart_container {
	border: 1px solid;
	width: 600px;
	min-height: 600px;
}

header {
	color: #333;
  text-align: center;
	flex: 0.2;
	border: 1px solid;
} 

main {
	flex: 0.8;
}

.container {
	border: 1px solid;
	display: flex;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
	flex-wrap: wrap;
}

.tab {
	background-color: yellow;
	margin: 5px;
	border: 1px solid;
	width: 300px;
	min-height: 80px;
	border-radius: 7px;
}

footer {
	background-color: black;
	color: #999;
	text-align: center;
	height: 30px;
}