body {
	background-color: #9bd;
	font-family: Helvetica, GillSans;
	margin: 0;
	padding: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.container {
	display: flex;
	height: 100%;
	flex: 1;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
	flex-wrap: wrap;
}

	.chart_container {
		background-color: green;
		width: 300px;
		min-height: 300px;
		flex: 1 1 500px;
	}

	.delegations_container {
		min-height: 300px;
		display: flex;
		flex-direction: row;
		flex: 1;
	}

		.histo_container {
			background-color: grey;
			width: 200px;
			min-height: 400px;
		}

		.tabs_column_container {
			background-color: orange;
			width: 300px;	
			display: flex;
			flex-wrap: wrap;
			flex-grow: 1;
			justify-content: flex-start;
			align-items: flex-start;
			align-content: flex-start;
		}

			.tabs_container {
				background-color: white;
				width: 300px;
				height: 50px;
				margin: 10px 10px 0px 10px;
			}


header {
	color: #333;
  text-align: center;
	flex: 0.2;
} 

main {
	flex: 0.8;
	flex-grow: 1;
}


.tab {
	background-color: yellow;
	margin: 5px;
	border: 1px solid;
	width: 300px;
	min-height: 80px;
	border-radius: 7px;
}

footer {
	background-color: black;
	color: #999;
	text-align: center;
	height: 30px;
}