body {
	background-color: #9bd;
	font-family: Helvetica, GillSans;
	margin: 0;
	padding: 0;
}

.tabs_container {
	border: 1px solid;
	width: 400px;
	min-height: 300px;
}

.chart_container {
	border: 1px solid;
	width: 600px;
	min-height: 300px;
}

header {
	color: #333;
  text-align: center;
	flex: 0.2;
	border: 1px solid;
} 

main {
	border: 1px solid;
	display: flex;
	justify-content: center;
}

footer {
	background-color: black;
	color: #999;
	text-align: center;
	height: 30px;
}


main > .container {
	border: 1px solid;
	display: flex;  
	width: 0.7fr;
	/*flex: auto;*/
	flex-wrap: wrap;
	/*width: 50%;*/
	/*	margin: 0 auto;
  grid-template-columns: minmax(100px, 0.2fr) minmax(500px, 0.4fr);  
  grid-template-rows: auto; */
}

main > .container > div {
	border: 1px solid;
	/*flex: auto;*/
}